<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!-- Plain Console Appender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>

      <!-- Everything EXCEPT node.exe output -->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NodeOutputLogger" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <!-- Colored Console Appender -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <forecolor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <forecolor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <forecolor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <forecolor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <forecolor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%-5level - %message%newline" />
      </layout>
      
      <!-- Everything EXCEPT node.exe output -->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NodeOutputLogger" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    
    <!-- Rolling File Appender (NForever - all levels) -->
    <appender name="RollingFileAppenderNForeverAll" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{cwd}\logs\nforever.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{pid}][%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!-- Everything EXCEPT node.exe output -->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NodeOutputLogger" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    
    <!-- Rolling File Appender (NForever - ERROR and higher) -->
    <appender name="RollingFileAppenderNForeverError" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{cwd}\logs\error.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{pid}][%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!-- Everything EXCEPT node.exe output -->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NodeOutputLogger" />
        <acceptOnMatch value="false" />
      </filter>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- Rolling File Appender (Node.exe) -->
    <appender name="RollingFileAppenderNodeOutput" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{cwd}\logs\output.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{pid}][%thread] %-5level - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!-- ONLY node.exe output -->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NodeOutputLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingFileAppenderNForeverAll" />
      <appender-ref ref="RollingFileAppenderNForeverError" />
      <appender-ref ref="RollingFileAppenderNodeOutput" />
    </root>
  </log4net>
</configuration>